In [3]:
import numpy as np
import pandas as pd
from time import time
import matplotlib.pyplot as plt
from IPython.display import Image
from matplotlib.pylab import rcParams
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn import kernel_approximation
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.kernel_approximation import (RBFSampler,Nystroem)
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier

In [4]:
rcParams['figure.figsize'] = 15, 5

In [5]:
data = pd.read_csv('KaggleV2-May-2016.csv')
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [6]:
for column in list(data.columns):
    print("{0:25}{1}".format(column, data[column].nunique()))

PatientId                62299
AppointmentID            110527
Gender                   2
ScheduledDay             103549
AppointmentDay           27
Age                      104
Neighbourhood            81
Scholarship              2
Hipertension             2
Diabetes                 2
Alcoholism               2
Handcap                  5
SMS_received             2
No-show                  2

In [ ]:
def features_plots(discrete_vars):
    plt.figure(figsize=(15,24.5))
    
    for i, cv in enumerate(['Age', 'ScheduledDay']):
        plt.subplot(7, 2, i+1)
        plt.hist(data[cv], bins=len(data[cv].unique()))
        plt.title(cv)
        plt.ylabel('Frequency')
        
    for i, dv in enumerate(discrete_vars):
        plt.subplot(7, 2, i+3)
        data[dv].value_counts().plot(kimd='bar', title=dv)
        plt.ylabel('Frequency')
discrete_vars = ['Gender', 'ScheduledDay', 'Diabetes','Alcoholism', 'Hipertension', 
                 'Handcap', 'Scholarship', 'SMS_received']
features_plots(discrete_vars)

In [ ]:
data[data['Age'] < 0]['Age'].value_counts().sum()

In [ ]:
data = data[data['Age'] >= 0]
data

In [ ]:
data['ScheduledDay'] = data['ScheduledDay'].apply(lambda x: abs(x))