In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('data_processing').getOrCreate()

Picked up _JAVA_OPTIONS: -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true
Picked up _JAVA_OPTIONS: -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true

23/04/03 08:55:13 WARN Utils: Your hostname, root resolves to a loopback address: 127.0.1.1; using 192.168.90.240 instead (on interface wlan0)
23/04/03 08:55:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/03 08:55:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df = spark.read.csv('sample_data.csv', inferSchema=True, header=True)

In [7]:
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [8]:
len(df.columns)

5

In [9]:
df.count

In [11]:
print((df.count),(len(df.columns)))

<bound method DataFrame.count of DataFrame[ratings: int, age: int, experience: double, family: int, mobile: string]> 5

In [12]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [15]:
df.show(3)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
+-------+---+----------+------+-------+
only showing top 3 rows

In [16]:
df.select('age','mobile').show(5)

+---+-------+
|age| mobile|
+---+-------+
| 32|   Vivo|
| 27|  Apple|
| 22|Samsung|
| 37|  Apple|
| 27|     MI|
+---+-------+
only showing top 5 rows

In [17]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

In [22]:
#Adding a new column
df.withColumn("age_after_10_yrs", (df["age"] + 10)).show(10, False)

+-------+---+----------+------+-------+----------------+
|ratings|age|experience|family|mobile |age_after_10_yrs|
+-------+---+----------+------+-------+----------------+
|3      |32 |9.0       |3     |Vivo   |42              |
|3      |27 |13.0      |3     |Apple  |37              |
|4      |22 |2.5       |0     |Samsung|32              |
|4      |37 |16.5      |4     |Apple  |47              |
|5      |27 |9.0       |1     |MI     |37              |
|4      |27 |9.0       |0     |Oppo   |37              |
|5      |37 |23.0      |5     |Vivo   |47              |
|5      |37 |23.0      |5     |Samsung|47              |
|3      |22 |2.5       |0     |Apple  |32              |
|3      |27 |6.0       |0     |MI     |37              |
+-------+---+----------+------+-------+----------------+
only showing top 10 rows

In [23]:
df = df.withColumn("age_after_10_yrs",(df["age"]+10))

In [25]:
from pyspark.sql.types import StringType,DoubleType
df.withColumn('age_double',df['age'].cast(DoubleType())).show(10,False)

+-------+---+----------+------+-------+----------------+----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|age_double|
+-------+---+----------+------+-------+----------------+----------+
|3      |32 |9.0       |3     |Vivo   |42              |32.0      |
|3      |27 |13.0      |3     |Apple  |37              |27.0      |
|4      |22 |2.5       |0     |Samsung|32              |22.0      |
|4      |37 |16.5      |4     |Apple  |47              |37.0      |
|5      |27 |9.0       |1     |MI     |37              |27.0      |
|4      |27 |9.0       |0     |Oppo   |37              |27.0      |
|5      |37 |23.0      |5     |Vivo   |47              |37.0      |
|5      |37 |23.0      |5     |Samsung|47              |37.0      |
|3      |22 |2.5       |0     |Apple  |32              |22.0      |
|3      |27 |6.0       |0     |MI     |37              |27.0      |
+-------+---+----------+------+-------+----------------+----------+
only showing top 10 rows

In [26]:
df.filter(df['mobile'] == 'Vivo').show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      3| 32|       9.0|     3|  Vivo|              42|
|      5| 37|      23.0|     5|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [27]:
df.filter(df['mobile'] == 'Vivo').select('age','ratings','mobile').show()

+---+-------+------+
|age|ratings|mobile|
+---+-------+------+
| 32|      3|  Vivo|
| 37|      5|  Vivo|
| 37|      4|  Vivo|
| 37|      5|  Vivo|
| 37|      4|  Vivo|
+---+-------+------+

this can be done in multiple ways. Let us say, we
want to filter only ‘Vivo’ users and only those with experience of more than
10 years.

In [28]:
df.filter(df['mobile'] == 'Vivo').filter(df['experience'] > 10 ).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [29]:
df.filter((df['mobile']=='Vivo')&(df['experience'] >10)).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [30]:
#Distinct Values
df.select('mobile').distinct().show()

+-------+
| mobile|
+-------+
|     MI|
|   Oppo|
|Samsung|
|   Vivo|
|  Apple|
+-------+

In [31]:
df.select('mobile').distinct().count()

5

In [33]:
#GrouopingData
df.groupBy('mobile').count().orderBy('count', ascending=False).show(5, False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Apple  |7    |
|Oppo   |7    |
|Samsung|6    |
|Vivo   |5    |
+-------+-----+

In [34]:
df.groupBy('mobile').mean().show(5, False)

+-------+------------------+------------------+------------------+------------------+---------------------+
|mobile |avg(ratings)      |avg(age)          |avg(experience)   |avg(family)       |avg(age_after_10_yrs)|
+-------+------------------+------------------+------------------+------------------+---------------------+
|MI     |3.5               |30.125            |10.1875           |1.375             |40.125               |
|Oppo   |2.857142857142857 |28.428571428571427|10.357142857142858|1.4285714285714286|38.42857142857143    |
|Samsung|4.166666666666667 |28.666666666666668|8.666666666666666 |1.8333333333333333|38.666666666666664   |
|Vivo   |4.2               |36.0              |11.4              |1.8               |46.0                 |
|Apple  |3.4285714285714284|30.571428571428573|11.0              |2.7142857142857144|40.57142857142857    |
+-------+------------------+------------------+------------------+------------------+---------------------+

In [35]:
df.groupBy('mobile').sum().show(5, False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |sum(ratings)|sum(age)|sum(experience)|sum(family)|sum(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |28          |241     |81.5           |11         |321                  |
|Oppo   |20          |199     |72.5           |10         |269                  |
|Samsung|25          |172     |52.0           |11         |232                  |
|Vivo   |21          |180     |57.0           |9          |230                  |
|Apple  |24          |214     |77.0           |19         |284                  |
+-------+------------+--------+---------------+-----------+---------------------+

In [36]:
df.groupBy('mobile').max().show(5, False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |max(ratings)|max(age)|max(experience)|max(family)|max(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |5           |42      |23.0           |5          |52                   |
|Oppo   |4           |42      |23.0           |2          |52                   |
|Samsung|5           |37      |23.0           |5          |47                   |
|Vivo   |5           |37      |23.0           |5          |47                   |
|Apple  |4           |37      |16.5           |5          |47                   |
+-------+------------+--------+---------------+-----------+---------------------+

In [37]:
df.groupBy('mobile').min().show(5, False)

+-------+------------+--------+---------------+-----------+---------------------+
|mobile |min(ratings)|min(age)|min(experience)|min(family)|min(age_after_10_yrs)|
+-------+------------+--------+---------------+-----------+---------------------+
|MI     |1           |27      |2.5            |0          |37                   |
|Oppo   |2           |22      |6.0            |0          |32                   |
|Samsung|2           |22      |2.5            |0          |32                   |
|Vivo   |3           |32      |6.0            |0          |42                   |
|Apple  |3           |22      |2.5            |0          |32                   |
+-------+------------+--------+---------------+-----------+---------------------+

In [38]:
df.groupBy('mobile').agg({'experience':'sum'}).show(5, False)

+-------+---------------+
|mobile |sum(experience)|
+-------+---------------+
|MI     |81.5           |
|Oppo   |72.5           |
|Samsung|52.0           |
|Vivo   |57.0           |
|Apple  |77.0           |
+-------+---------------+

In [39]:
from pyspark.sql.functions import udf

In [40]:
def price_range(brand):
    if brand in ['Samsung', 'Apple']:
        return 'High Price'
    elif brand == 'MI':
        return 'Mid Price'
    else:
        return 'Low Price'

brand_udf = udf(price_range, StringType())

In [41]:
df.withColumn('price_range', brand_udf(df['mobile'])).show(10, False)

+-------+---+----------+------+-------+----------------+-----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|price_range|
+-------+---+----------+------+-------+----------------+-----------+
|3      |32 |9.0       |3     |Vivo   |42              |Low Price  |
|3      |27 |13.0      |3     |Apple  |37              |High Price |
|4      |22 |2.5       |0     |Samsung|32              |High Price |
|4      |37 |16.5      |4     |Apple  |47              |High Price |
|5      |27 |9.0       |1     |MI     |37              |Mid Price  |
|4      |27 |9.0       |0     |Oppo   |37              |Low Price  |
|5      |37 |23.0      |5     |Vivo   |47              |Low Price  |
|5      |37 |23.0      |5     |Samsung|47              |High Price |
|3      |22 |2.5       |0     |Apple  |32              |High Price |
|3      |27 |6.0       |0     |MI     |37              |Mid Price  |
+-------+---+----------+------+-------+----------------+-----------+
only showing top 10 rows

In [42]:
age_udf = udf(lambda age: "young" if age <= 30 else "senior", StringType())

In [43]:
df.withColumn("age_group", age_udf(df.age)).show(10, False)

+-------+---+----------+------+-------+----------------+---------+
|ratings|age|experience|family|mobile |age_after_10_yrs|age_group|
+-------+---+----------+------+-------+----------------+---------+
|3      |32 |9.0       |3     |Vivo   |42              |senior   |
|3      |27 |13.0      |3     |Apple  |37              |young    |
|4      |22 |2.5       |0     |Samsung|32              |young    |
|4      |37 |16.5      |4     |Apple  |47              |senior   |
|5      |27 |9.0       |1     |MI     |37              |young    |
|4      |27 |9.0       |0     |Oppo   |37              |young    |
|5      |37 |23.0      |5     |Vivo   |47              |senior   |
|5      |37 |23.0      |5     |Samsung|47              |senior   |
|3      |22 |2.5       |0     |Apple  |32              |young    |
|3      |27 |6.0       |0     |MI     |37              |young    |
+-------+---+----------+------+-------+----------------+---------+
only showing top 10 rows

----------------------------------------
Pandas UDF (Vectorized UDF)

In [65]:
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import IntegerType

In [68]:
def renaining_yrs(age):
    yrs_left = (100-age)
    return yrs_left

length_udf = pandas_udf(renaining_yrs, IntegerType())
df.withColumn("years_left", length_udf(df['age'])).show(10, False)

+-------+---+----------+------+-------+----------------+----------+
|ratings|age|experience|family|mobile |age_after_10_yrs|years_left|
+-------+---+----------+------+-------+----------------+----------+
|3      |32 |9.0       |3     |Vivo   |42              |68        |
|3      |27 |13.0      |3     |Apple  |37              |73        |
|4      |22 |2.5       |0     |Samsung|32              |78        |
|4      |37 |16.5      |4     |Apple  |47              |63        |
|5      |27 |9.0       |1     |MI     |37              |73        |
|4      |27 |9.0       |0     |Oppo   |37              |73        |
|5      |37 |23.0      |5     |Vivo   |47              |63        |
|5      |37 |23.0      |5     |Samsung|47              |63        |
|3      |22 |2.5       |0     |Apple  |32              |78        |
|3      |27 |6.0       |0     |MI     |37              |73        |
+-------+---+----------+------+-------+----------------+----------+
only showing top 10 rows

In [70]:
def prod(rating, exp):
    x = rating * exp
    return x
    
prod_udf = pandas_udf(prod, DoubleType())
df.withColumn("product", prod_udf(df['ratings'], df['experience'])).show(10, False)

+-------+---+----------+------+-------+----------------+-------+
|ratings|age|experience|family|mobile |age_after_10_yrs|product|
+-------+---+----------+------+-------+----------------+-------+
|3      |32 |9.0       |3     |Vivo   |42              |27.0   |
|3      |27 |13.0      |3     |Apple  |37              |39.0   |
|4      |22 |2.5       |0     |Samsung|32              |10.0   |
|4      |37 |16.5      |4     |Apple  |47              |66.0   |
|5      |27 |9.0       |1     |MI     |37              |45.0   |
|4      |27 |9.0       |0     |Oppo   |37              |36.0   |
|5      |37 |23.0      |5     |Vivo   |47              |115.0  |
|5      |37 |23.0      |5     |Samsung|47              |115.0  |
|3      |22 |2.5       |0     |Apple  |32              |7.5    |
|3      |27 |6.0       |0     |MI     |37              |18.0   |
+-------+---+----------+------+-------+----------------+-------+
only showing top 10 rows

----------------------------
Drop Duplicate Values

In [71]:
df.count()

33

In [72]:
df = df.dropDuplicates()
df.count()

26

In [73]:
df_new = df.drop('mobile')
df_new.show()

+-------+---+----------+------+----------------+
|ratings|age|experience|family|age_after_10_yrs|
+-------+---+----------+------+----------------+
|      4| 37|      16.5|     4|              47|
|      3| 42|      23.0|     5|              52|
|      4| 37|       6.0|     0|              47|
|      5| 37|      23.0|     5|              47|
|      2| 27|       9.0|     2|              37|
|      4| 22|       2.5|     0|              32|
|      5| 27|       6.0|     0|              37|
|      4| 27|       9.0|     0|              37|
|      3| 22|       2.5|     0|              32|
|      2| 27|       6.0|     2|              37|
|      5| 27|       6.0|     2|              37|
|      3| 27|      13.0|     3|              37|
|      4| 37|       9.0|     2|              47|
|      4| 22|       6.0|     1|              32|
|      5| 22|       2.5|     0|              32|
|      4| 27|       6.0|     1|              37|
|      3| 32|       9.0|     3|              42|
|      5| 27|       9.0|     1|              37|
|      1| 37|      23.0|     5|              47|
|      2| 42|      23.0|     2|              52|
+-------+---+----------+------+----------------+
only showing top 20 rows

-----------------------------------------
Writing Data